/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kanit', sans-serif;
}

/* HEADER */
#inline-block{
    display: inline-block;
    vertical-align: middle;
}

#middle{
    vertical-align: middle;
}

header{
    padding: 15px 10px;
    background-color: white;
}

/* GENERALE */
body{
    background-color: lightgray;
}

hr{
    border: 1px solid lightgray;
}

main{
    padding: 80px;
    border: auto;
}
/* BOTTONI */
button{
    padding: 5px 8px;
    border-radius: 5px;
    border: 1px solid;
    background-color: transparent;
}

#centratura-bottoni{
    width: 80%;
    height: 30px auto 0 auto;
    background-color: white;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-top: 30px;
}

#blu{
    background-color: deepskyblue;
}

section > div{
    padding: 10px;
    border-left: auto;
    border-right: auto;
}

/* TABELLA */
#centratura-tabella{
    width: 80%;
    height: 30px auto 0 auto;
    background-color: white;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top: 30px;
}

li h4{
    display: inline-block;
}

ul li{
    list-style-type: none;
    padding: 5px;
}

ul h2::before{
    content: '\25be';
}

.fatto::before{
    content: '\2713';
    border-radius: 50%;
    padding: 2px 6px;
    border: 1px solid green;
    color: green;
}

.non-fatto::before{
    content: '\2715';
    border-radius: 50%;
    padding: 2px 6px;
    border: 1px solid red;
    color: red;
}

li::after{
    padding: 4px 8px;
    border-radius: 14px;
    color: white;
}

.editorial::after{
    content: 'Editorial';
    background-color: deepskyblue;
}

#q1-goals::after{
    content: 'Q1 Goals';
    background-color: blueviolet;
}

#recruiting::after{
    content: 'Recruiting';
    background-color: aquamarine;
}

#mobile::after{
    content: 'Mobile';
    background-color: darkorange;
}

#website::after{
    content: 'Website';
    background-color: hotpink;
}

#sales::after{
    content: 'Sales';
    background-color: chartreuse;
}