/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kanit', sans-serif;
}

li{
    margin-left: 1em;
}

table{
    border-spacing: 0;
}

/* HEADER */
#inline-block{
    display: inline-block;
    vertical-align: middle;
}

#middle{
    vertical-align: middle;
}

/* GENERALE */
main{
    padding: 15px;
    padding-top: 2px;
    background-color: darkgrey;
}

#centratura-bottoni{
    width: 69%;
    margin: auto;
    background-color: white;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding-left: 10px;
}

#centratura-tabella{
    width: 70%;
    margin: auto;
    background-color: white;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}


section{
    background-color: darkgray;
    margin-top: 30px;
}

#blu{
    background-color: deepskyblue;
    border-radius: 5px;
}
/* TABELLA */
ul{
    margin-top: 30px;
    margin-bottom: 30px;
}

li h4{
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
}

ul li{
    list-style-type: none;
    margin-top: 10px;
    margin-bottom: 10px;
}

ul h2::before{
    content: '\25bc';
}

.fatto::before{
    content: '\2713';
    border: 1px solid green;
    color: green;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.non-fatto::before{
    content: '\2717';
    border: 1px solid red;
    color: red;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.editorial::after{
    content: 'Editorial';
    background-color: deepskyblue;
    padding: 4px 8px;
    border-radius: 14px;
    color: white;
}

#q1-goals::after{
    content: 'Q1 Goals';
    background-color: blueviolet;
    padding: 4px 8px;
    border-radius: 14px;
    color: white;
}

#recruiting::after{
    content: 'Recruiting';
    background-color: aquamarine;
    padding: 4px 8px;
    border-radius: 14px;
    color: white;
}

#mobile::after{
    content: 'Mobile';
    background-color: darkorange;
    padding: 4px 8px;
    border-radius: 14px;
    color: white;
}

#website::after{
    content: 'Website';
    background-color: hotpink;
    padding: 4px 8px;
    border-radius: 14px;
    color: white;
}

#sales::after{
    content: 'Sales';
    background-color: chartreuse;
    padding: 4px 8px;
    border-radius: 14px;
    color: white;
}